Host docker.root
   HostName localhost
   Port 12222
   User root
   IdentityFile .ssh/ansible_base_rsa

Host docker.deploy_user
   HostName localhost
   Port 12222
   User deploy_user
   IdentityFile .ssh/ansible_base_rsa